/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04/07/2015, 12:01:07 PM
    Author     : Hugo
*/
html, body {
    /* Margin bottom by footer height */
    height: 100%;
}

#wrapper{    
    min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin-bottom: -80px; /* el magin-bottom es el valor negativo de     
    //la altura del footer */ 
} 


#footer, #push { 
    height: 80px; /* la altura del push es la misma que la altura     
    del footer */ 
}

#footer
{
    background:  #d9edf7;
}

#fecha
{

    position: relative;
    bottom: 35px;
    left: 35px;
}


#header
{
    padding-top: 10px;
}

#logo-img
{
    display: inline-block;
    width: 119px;
    height: 112px;
}

#logo-text
{
    display: inline-block;
    position: relative;
    top: 5px;
}

.btn-login
{
    width: 60%;
    margin: 2.5px;
}

.fixed-bottom
{
    position: static;
    bottom: 0px;
}

.login-controls
{
    margin-top: 12px;
}

.mini-loader
{
    margin-bottom: 10px;
}

.nav-container
{
    background-color: #337AB7;
    margin-top: -35px;
}

.nav-container .container ul li a
{
    color: white;
}

.nav-container .container ul li:hover
{
    background: #204d74;
    transition: ease-in 0.5s;
}

.no-decoration:hover
{
    text-decoration: none;
}

