html, body {
    /* Margin bottom by footer height */
    height: 100%;
}

#wrapper{    
    min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin-bottom: -80px; /* el magin-bottom es el valor negativo de     
    //la altura del footer */ 
    background: url(azul.jpg);
    //background-size:cover;
    background-attachment: fixed;
    background-position:0 0px;
} 

#fecha
{
    position: relative;
    bottom: 35px;
    left: 35px;
}


#header
{
    padding-top: 10px;
}

#logo-img
{
    display: inline-block;
    width: 119px;
    height: 112px;
}

#logo-text
{
    display: inline-block;
    position: relative;
    top: 5px;
}

.btn-login
{
    width: 60%;
    margin: 2.5px;
}

.banner-container
{
    margin: 0 auto;
    width: 650px;
}

.banner-image
{
    position: relative;
    bottom: 0px;
}

.banner-descripcion
{
    position: relative;
    bottom: 50px;
    background: rgba(34, 34, 34, 0.9);
    color: white;
    text-align: center;
    font-weight:  bold;
    height: 50px;
    line-height: 50px;
}

.banner-descripcion-text
{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.fixed-bottom
{
    position: static;
    bottom: 0px;
}

.login-controls
{
    margin-top: 12px;
}

.nav-container
{
    background-color: #064089;
    margin-top: -35px;
}

.nav-container .container ul li a
{
    color: #FE8B16;
    font-weight: 900;
}

.nav-container .container ul li:hover
{
    background: #EB450B;
    transition: ease-in 0.5s;
}

.no-decoration:hover
{
    text-decoration: none;
}

#pinBoot {
    position: relative;
    max-width: 100%;
    width: 100%;  
}
.white-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.white-panel {
    position: absolute;
    background: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
    font-size: 1em;
}
.white-panel h1 a {
    color: #A92733;
}
.white-panel:hover {
    box-shadow: 5px 5px 20px 5px rgba(181, 255, 255, 1);
    margin-top: -5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.full {
    width: 100%;	
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}

#footer{
  top: 60px;  
}

.footer {
	background: #EDEFF1;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #54697E;
}

.newsletter-box {
	overflow: hidden;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}

.social li a {
	color: #EDEFF1;
}

.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

.footer-bottom {
	background: #E3E3E3;
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}